.footnote {
    background-color: #000;
    width: 100%;
    color: white;
    padding: 0.4rem;
    font-size: 1rem;
    text-align: center;
    margin-top: auto;
    user-select: none;
    -webkit-user-select: none;
    position: relative;
    .close {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        cursor: pointer;
        font-size: 1.5rem;
        background-color: transparent;
        border: none;
        color: white;
    }
}
